:root {
    --vert-fonce: #335f31;    
    --vert: #058a0e;    
    --blanc: #fefefe;
    --fond :  #f6faf3;
}
body {
    background-color: var(--fond);
    color: var(--vert-fonce);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h2 {
    font-family: 'Playfair Display', serif;
    border-bottom: 2px solid var(--vert);
    padding-bottom: 5px;
    font-size: 1.5rem;
}


.container { 
     display : grid;
     grid-template-columns: 1fr 1fr; 
     gap  : 30px; 
     padding : 40px;
     grid-template-areas: "etudes projets" "competences hobbies"; 
     grid-template-rows: 1fr 1fr;
     }

#etudes { 
    grid-area : etudes; 
    background-color :var(--fond); 
    padding : 15px ;
    border-radius: 5px;
    border: 1.3px solid #defcd2;     
}


#projets {
    grid-area: projets;
    background-color: var(--fond);
    padding: 15px;
    border-radius: 5px;
    border: 1.3px solid #defcd2;     
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--vert) transparent;
}



#competences { 
    grid-area : competences; 
    background-color :var(--fond); 
    padding : 15px;
    border-radius: 5px;
    border: 1.3px solid #defcd2;     

}        
#hobbies { 
    grid-area : hobbies; 
    background-color :var(--fond); 
    padding : 15px;
    border-radius: 5px;
    border: 1.3px solid #defcd2;     
}

 
.toute_page {
    display : flex;
    flex-direction: column;
    background : var(--blanc);
    max-width: 1000px;
    margin : 0 auto

}

ul { list-style-type:none;
padding-left:  0;}

li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

li::before {
    content: "•";
    color: var(--vert);
    position: absolute;
    left: 0;
    font-weight: bold;
}
.header {
    background-color : var(--vert-fonce);
    color : var(--blanc);
    padding : 40px;
    display : flex;
    justify-content: space-between
}

.header p {font-size : 1.2rem;
text-align: right;}

#photo img { border-radius: 5%;
border: 1.5px solid    #4d8b50;

}

#contact {
    
    margin-top: 20px;   
    margin-bottom: 20px;
    background-color: var(--fond);
    font-size: 0.9rem;  
    text-align: center;       
    border-bottom: 1px solid #ddd;
    border-top : 1px solid #ddd;
}


.link{
    color:  #1b5691;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--vert);
    text-decoration: underline;
}