{% extends "base.html" %}

{% block content %}



        <div class = "toute_page">
        <div class = header>
        <div id="photo">
        <img src="{{ url_for('static', path='/photo.jpg') }}" width="143" height="180" alt="Photo de Perrine Allain">
        </div>
        <div>
            <h1>Perrine ALLAIN</h1>
            <p>
            Elève aux Mines de Paris <br>
            </p>
        </div>
        
        </div>
        <div id="contact">  
            <p>
            <strong>Numéro de téléphone</strong>: 06 77 40 12 25 <br>
            <strong>Adresse mail</strong> : perrine.allain@etu.minesparis.psl.eu <br>
            <strong>Adresse</strong> : 270 rue Saint-Jacques 75005 Paris</p>
        </div>
        <div class = "container">
        <div id="etudes">
            <h2> Etudes</h2>
            <p>
                <ul>
                    <li><strong>2025-2029 </strong>: Cycle Ingénieur civil - Mines de Paris - Major d'entrée filière PC</li>
                    <li><strong>2023-2025</strong> : CPGE PCSI-PC* - Lycée Chateaubriand - Rennes </li>
                    <li><strong>2023</strong> : Baccalauréat général Maths-Physique section européenne anglais - Félicitations du jury- Lycée Emile Zola - Rennes</li>
                </ul>
            </p>
        </div>
        <div id="projets">
            <h2> Projets réalisés</h2>
            <p>
                <ul>
                    <li> <strong>Novembre 2025</strong> - MIG Mode et luxe : Mini-projet de recherche sur les bijoux de mode pour une grande entreprise de luxe française </li>
                    <li> <strong>2024-2025</strong> - TIPE : Mini-projet de recherche en binôme en chimie analytique sur les batteries lithium - ion </li>
                    <li> <strong>2025-aujourd'hui </strong>: Bénévolat dans une association de soutien scolaire pour des lycéens en zone d'éducation prioritaire</li>
                </ul>
            </p>
        </div>

        <div id="competences">
            <h2> Compétences</h2>
            <p>
                <ul>
                    <li> <strong>Langues</strong> : Français (Natif), Anglais (C1), Espagnol (B2)</li>
                    <li> <strong>Programmation</strong> : Python, HTML/CSS </li>
                    <li> <strong>Soft skills</strong> : Communication, Travail en équipe, Organisation</li>
                </ul>
        </div>
        <div id="hobbies">
            <h2> Centres d'intérêt</h2>
            <p>
                <ul>
                    <li> <strong>Lecture</strong> : romans et essais</li>
                    <li> <strong>Natation</strong></li>
                    <li> <strong>Voyages</strong> : Europe</li>
                </ul>
        </div>
        </div>
        </div>
   
{% endblock %}